:root {
    --background-color: #161616;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

html, body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: var(--background-color);
}