:root {
    --background-color: #000000;
    --background-color-high: #101010;
    --background-color-higher: #161616;
    --font-color: #ffffff;
    --hover-color: #ffffff18;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: var(--font-color)
}

html, body {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100dvh;
    overflow: hidden;

    background-color: var(--background-color);

    margin: 0;
    padding: 0;
}


.sidebar {
    display: flex;
    flex-direction: column;

    margin: 10px;
    width: 300px;
    border-radius: 15px;
    background-color: var(--background-color-high);
}

.sidebar h1 {
    margin: 40px 40px;
    font-size: 20px;
}

.switcher {
    background-color: transparent;

    margin: 5px 20px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    
    text-align: left;
    font-size: 16px;

    transition: .3s;
}

.switcher:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

/* Full display and compact display */
.switcher .full {
    display: block;
}

.switcher .compact {
    display: none;
}

.main_container {
    display: flex;
    /* flex-direction: ; */

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;

    /* margin: 0 10px 10px 10px; */

    margin-right: 10px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    /* height: 100%; */
    flex-grow: 1;
    width: auto;
    border-radius: 15px;
    background-color: var(--background-color-high);
}

.main h1 {
    /* The headers for these things. Gotta be big and BOLD */
    margin: 40px 40px;
    font-size: 20px;
}

.music_list_container {
    width: 100%;
    height: 100%; /* or a fixed height, e.g., 400px */
    overflow-y: auto;  /* vertical scroll */
    overflow-x: auto; /* no horizontal scroll unless needed */
    box-sizing: border-box;

    /* padding-bottom: 30px; */
    /* margin-bottom: 30px; */
}

.music_list {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    padding: 0px 40px;
}

.music_list th,
.music_list td {
    padding: 12px 40px;
    /* border-bottom: 1px solid #ddd; */
    border-radius: 15px;
}

.music_list tr:nth-child(even) {
    background-color: var(--background-color-higher);
    border-radius: 15px;
}

@media only screen and (max-device-width: 480px) {
    .sidebar {
        width: 80px;
    }

    .sidebar h1 {
        display: none;
    }

    .switcher {
        padding: 5px 10px;
        margin-top: 10px;
    }

    .switcher .full {
        display: none;
    }

    .switcher .compact {
        display: block;
    }

    .title_col {
        width: 60%;
    }

    .artist_col {
        display: none;
    }

    .duration_col {
        display: none;
    }

    .music_list_container {
        width: 100%;
        height: 100%; /* or a fixed height, e.g., 400px */
        overflow-y: auto;  /* vertical scroll */
        overflow-x: auto; /* no horizontal scroll unless needed */
        box-sizing: border-box;
    }

    .music_list {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        padding: 0px 40px;
    }

    .music_list th,
    .music_list td {
        padding: 10px 20px;
        font-size: 11px;
    }

    .music_list tr:nth-child(even) {
        background-color: var(--background-color-higher);
    }

}