/* :root {
    --text-color: #000;
    --background: #fff;
    --cpu-color: #319bff;
    --ram-color: #c531ff;
    --net-down-color: #07df00;
    --net-up-color: #ff7b00;
    --net-neutral-color: #777777;
    --disk-used-color: #ffd900;
    --disk-free-color: #777777;
} */

:root {
    --text-color: #fff; /* Use white text color for dark mode */
    --background: #0a0a0a;
    --border-color: #777;
    --primary-color: #333;
    --fail-color: #ff2222;

    /* The status colors */
    --cpu-color: #319bff;
    --ram-color: #c531ff;
    --net-down-color: #53c44f;
    --net-up-color: #ff9c40;
    --net-neutral-color: #777777;
    --disk-used-color: #ffd900;
    --disk-free-color: #777777;
    --uptime-color: #ffea2d;
}

html, body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    background-color: var(--background);
    font-family: 'JetBrains Mono', 'Cascadia Code', 'Consolas', monospace;
    margin: 0;
    padding: 0;
    width: 100%;
}